body {
    background-image: url("../photos/background-image_4.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
}
.dropdown-menu li{
    font-size: 30px;
}
.dropdown-menu li a:hover, .dropdown-menu > li > a:focus {
    background-color: #f5bce5b6;
 }
.label{
    padding: 33px;
    position: absolute;
}
.nav-item{
    font-family: "Comic Sans MS", serif;
}
table{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
button {
    background-color: deeppink;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover{
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px white;
}
.container {
    margin-top: 400px;
}
 .navbar-brand img {
    width: 100px;
    height: 100px;
}
.block1 {
    margin-top: 360px;
    font-size: 40px;
    font-family: Consolas, serif;
    color: #EEC2FD;
}
@media screen and (max-width: 900px) {
    .block1 {
        margin-top: 180px;
    }
    .navbar-brand img {
        width: 50px;
        height: 50px;
    }
    .block1 {
    font-size: 20px;
    }
    button {
        width: 150px;
        height: 25px;
    }
    .dropdown-menu li{
    font-size: 17px;
    }
}
}
