body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Comic Sans MS", serif;
}
.dropdown-menu li{
    font-size: 30px;
}
.dropdown-menu li a:hover, .dropdown-menu > li > a:focus {
    background-color: #f5bce5b6;
 }
.label{
    padding: 33px;
    position: absolute;
}
.navbar-brand img {
    width: 100px;
    height: 100px;
}
.block1 {
    margin-top: -250px;
}
.table_2{
    background-image: url("../photos/background-image_1.jpg");
    padding-bottom: 20px;
}
.head th{
    text-align: center;
    border: 1px solid black;
}
.table_2 tr th{
    text-align: center;
    font-size: 25px;
}
.table_2 tr td{
    font-size: 25px;
}
.th1{
    width: 200px;
}
.th2{
    width: 300px;
}
.th3{
    width: 350px;
}
.th4{
    width: 200px;
}
td img{
    width: 340px;
    height: 290px;
}
h2{
    margin-left: 500px;
    padding-top: 30px;
    font-size: 40px;
}
.block4 a img {
    width: 100px;
    height: 250px;
}
.on_top{
    position: fixed;
    bottom: 0;
    right: 30px;
}
.markers li{
    list-style: none;
    background: url(../photos/list_icon.png) no-repeat left 50%;
    padding-left: 40px;
    background-size: 40px 40px;
    line-height: 2;
    font-size: 30px;
}
.markers {
    margin-left:630px;
}
.perehod{
    text-decoration: none;
}
.perehod:hover{
    font-weight: bold;
}
@media screen and (max-width: 900px) {
    .markers {
        margin-left:20px;
    }
    .markers li{
        list-style: none;
        background: url(../photos/list_icon.png) no-repeat left 50%;
        padding-left: 15px;
        background-size: 15px 15px;
        line-height: 2;
        font-size: 8px;
    }
    .block1 {
        margin-left: 10px;
        margin-top: -40px;
    }
    h2{
        margin-left: 10px;
        padding-top: 10px;
        font-size: 10px;
    }
    .table_2 tr th{
        text-align: center;
        font-size: 8px;
    }
    .table_2 tr td{
        font-size: 8px;
    }
    .th1{
        width: 50px;
    }
    .th2{
        width: 100px;
    }
    .th3{
        width: 50px;
    }
    .th4{
        width: 50px;
    }
    td img{
        width: 50px;
        height: 50px;
    }
    .block4 a img {
        width: 40px;
        height: 80px;
    }
    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    .dropdown-menu li{
    font-size: 17px;
    }
}
