body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
table {
    width: 1600px;
    margin-top:-250px;
}
.line{
    height: 4px;
}
#group {
    height: 80px;
    font-size: 45px;
}
.photo_link img {
    width: 250px;
    height: 500px;
}
.names td {
    font-size: 30px;
}
#components {
    font-size: 45px;
}
#map {
    font-size: 45px;
}
.maps {
    font-size: 55px;
}
.maps a img {
    width: 100px;
    height: 100px;
}
#friends {
    font-size: 45px;
}
#sale {
    font-size: 45px;
}
.carusel {
    height: 400px;
}
.block2 a img {
    width: 100px;
    height: 200px;
}
.nav-item{
    font-family: "Comic Sans MS", serif;
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
}
.dropdown-menu li{
    font-size: 30px;
}
.dropdown-menu li a:hover, .dropdown-menu > li > a:focus {
    background-color: #f5bce5b6;
 }
.label{
    padding: 33px;
    position: absolute;
}
p {
    text-indent: 25px;
    text-align: justify;
    font-size: 30px;
    color: black;
}
ol{
    font-size: 30px;
}
.link{
    text-decoration: none;
}
.link:hover{
    font-weight: bold;
}
.zackladka {
    height: 100px;
}
.zakladka div{
    display: inline-block;
    padding: 0 80px;
    font-size: 30px;
}
.zakladka_link{
    color: black;
    text-decoration: none;
}
.zakladka_link:hover{
    color: white;
}
.on_top{
    position: fixed;
    bottom: 0;
    right: 30px;
}
@media screen and (max-width: 900px) {
    table {
        width: 380px;
        margin-top:-150px;
    }
}
